/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
/* styles.module.css */
.styles_animatedButton__dJwkK {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    background-size: 200% auto;
    transition: background-position 0.5s;
    border-radius: 6px;
}
.styles_animatedButton__dJwkK:hover {
    background-position: right center;
}

